.container{
    // position: absolute;
    // margin: 0;
    text-align: center;
    margin-top: 200px;
    width: 300px;
    // height: 00px;
    margin-left: 550px;
    // padding-top: 150px;
    // padding-left: 550px;
}
.heading{
    background-color: rgb(201, 64, 87);
    height: 50px;
    text-align: center;
    font-size: larger;
    color: rgb(255, 255, 255);
}
.pass {
    width: 250px;
    // background-color: whitesmoke;


}
#name{
    width: 250px;
    margin-top: 20px;
}